## AVOID GITHUB CLI 
gh/

## AVOID TIDAL TOKENS 
tidal_dl_ng/

## AVOID HELIX RUNTIME ISSUES
helix/runtime/

##BULLSHIT REMOVAL
pulse/

#more
xfce4/

qalculate/

/mimeapps.list

/QtProject.conf

Thunar/

asciinema/

QtProject.conf

audacity/

dconf/

aichat/
